@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Rampart+One&family=Titillium+Web:ital,wght@0,900;1,700&display=swap');

body{
 font-family: 'Cormorant Garamond', serif;
font-family: 'Rampart One', cursive;
font-family: 'Titillium Web', sans-serif;
}